<div class="row">
    <div class="col-xs-12 col-sm-2">
        <div class="row">
            <div class="list-group col-xs-12">
                <a ui-sref="professores.lista" class="list-group-item" ui-sref-active="active">
                    Lista
                </a>
                <a ui-sref="professores.novo" class="list-group-item" ui-sref-active="active">
                    Novo
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-10">
        
            <div ui-view>
            </div>
        
    </div>
</div>