   

<div class="row">
    <div class="col-xs-12 col-sm-2">
        <div class="row">
            <div class="list-group col-xs-12">
                <a ui-sref="certificacoes.lista" 
                   class="list-group-item" 
                   ui-sref-active="active">
                  Lista de Cerfificações
                </a>
                <a ui-sref="certificacoes.novo" class="list-group-item" ui-sref-active="active">Nova Certificação</a>
                
          </div>
            
        </div>
 
    </div>
    <div class="col-xs-12 col-sm-10">
        
            <div ui-view></div>
    </div>
</div>
